{% extends "layout.html" %}
{% load i18n %}
{% load pagination %}
{% block title %}{% trans "Villages" %}{% endblock %}

{% block stylesheets %} 
<link rel="stylesheet" href="/static/stylesheets/style.css" />
{% endblock %}

{% block content %}

{% include 'smsforum/partials/total.html' %}
<div class="module">
	<h2>{% trans "Villages" %}</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">{% trans "Name" %}</th>
				<th scope="col">{% trans "Members" %}</th>
				<th scope="col">{% trans "Messages Initiated This Week" %}</th>
				<!--  FIX THIS 
                <th scope="col">{% trans "Messages Received This Week" %}</th> -->
			</tr>
		</thead>
		<tbody>{% if villages.object_list %}{% for village in villages.object_list %}
			<tr>
				<td><a href="/village/{{ village.pk }}"{% if village.name %}>{{ village.name }}{% else %} class="unknown">Unknown{% endif %}</a></td>
                <td>{% if village.member_count %}{{ village.member_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if village.message_count %}{{ village.message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <!--  FIX THIS
				<td>{% if village.messages_sent_count %}{{ village.messages_sent_count }}{% else %}<span class="na">n/a</span>{% endif %}</td> -->
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="3">
					{% trans "No villages yet" %}
					<a href="/village/add" class="add">
						{% trans "Add a Village" %}
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					{% paginator villages %}
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="toolbar">
		<a href="/village/add" class="add">{% trans "Add a Village" %}</a>
	</div>
</div>
{% include 'smsforum/partials/messages.html' %}
{% endblock %}

