{% extends "layout.html" %}
{% load i18n %}
{% load pagination %}
{% block title %}{{ member.signature }}{% endblock %}

{% block content %}

<div class="module">
	<h2>{% if user.is_staff %}{{ member.signature }}
	{% else %}Member ID is {{ member.pk }}
	{% endif %}
	</h2>
	<table>
		<thead>
			<tr>
                {% if user.is_staff %}
					<th scope="col">{% trans "Common Name" %}</th>
					<th scope="col">{% trans "Given Name" %}</th>
					<th scope="col">{% trans "Family Name" %}</th>
	                <th scope="col">{% trans "Phone Number" %}</th>
	            {% else %}
					<th scope="col">{% trans "ID" %}</th>
				{% endif %}
				<th scope="col">{% trans "Gender" %}</th>
                <th scope="col">{% trans "Age" %}</th>
                <th scope="col">{% trans "Date Joined" %}</th>
                <th scope="col">{% trans "Sent to Tostan" %}</th>
                <th scope="col">{% trans "Sent This Week" %}</th>
                <th scope="col">{% trans "Sent This Month" %}</th>
                <th scope="col">{% trans "Received from Tostan" %}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
                <!--  TODO: COME BACK AND FIX THIS -->
                {% if user.is_staff %}
	                <td><a href="/member/edit/{{ member.pk }}"{% if member.common_name %}>{{ member.common_name }}{% else %} class="unknown">Unknown{% endif %}</a></td>
					<td>{% if member.given_name %}{{ member.given_name }}{% else %}<span class="na">n/a</span>{% endif %}</td>
					<td>{% if member.family_name %}{{ member.family_name }}{% else %}<span class="na">n/a</span>{% endif %}</td>
	                <td>{% if member.phone_number %}{{ member.phone_number }}{% else %}<span class="na">n/a</span>{% endif %}</td>
	            {% else %}
					<td>{{ member.pk }}</td>
				{% endif %}
                <td>{% if member.gender %}{{ member.gender }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.age %}{{ member.age }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.date_joined %}{{ member.date_joined|date:"D M d H:i" }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.message_count %}{{ member.message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.message_count_this_week %}{{ member.message_count_this_week }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.message_count_this_month %}{{ member.message_count_this_month }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.received_message_count %}{{ member.received_message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
			</tr>
		</tbody>
	</table>
</div>
<br/>

<!-- Not implemented yet
{% if member.phone_number %}
<form id="send" method="post">
<h2>Send a message to {{ member.signature }}</h2>
<input type="text" id="message_body" name="message_body" />
    <div id="submitbutton">
    <input type="submit" value="Send" />
    </div>
</form>
{% endif %}
 -->
    
    
{% include 'smsforum/partials/messages.html' %}
{% endblock %}

