{% extends "layout.html" %}
{% load i18n %}
{% load pagination %}
{% block title %}{% trans "Members of" %}{{ village.name }}{% endblock %}

{% block content %}

{% include 'smsforum/partials/total.html' %}
<div class="module">
	<h2>{% trans "Members of " %}{{ village.name }}</h2>
	<table>
		<thead>
			<tr>
                {% if user.is_staff %}
					<th scope="col">{% trans "Common Name" %}</th>
					<th scope="col">{% trans "Given Name" %}</th>
					<th scope="col">{% trans "Family Name" %}</th>
	                <th scope="col">{% trans "Phone Number" %}</th>
	            {% else %}
					<th scope="col">{% trans "ID" %}</th>
				{% endif %}
				<th scope="col">{% trans "Gender" %}</th>
                <th scope="col">{% trans "Age" %}</th>
                <th scope="col">{% trans "Sent to Tostan" %}</th>
                <th scope="col">{% trans "Received From Tostan" %}</th>
                <th scope="col">{% trans "Date Joined" %}</th>
			</tr>
		</thead>
		<tbody>{% if members.object_list %}{% for member in members.object_list %}
			<tr>
                {% if user.is_staff %}
	                <td><a href="/member/{{ member.pk }}"{% if member.common_name %}>{{ member.common_name }}{% else %} class="unknown">Unknown{% endif %}</a></td>
					<td>{% if member.given_name %}{{ member.given_name }}{% else %}<span class="na">n/a</span>{% endif %}</td>
					<td>{% if member.family_name %}{{ member.family_name }}{% else %}<span class="na">n/a</span>{% endif %}</td>
	                <td>{% if member.phone_number %}{{ member.phone_number }}{% else %}<span class="na">n/a</span>{% endif %}</td>
	            {% else %}
					<td><a href="/member/{{ member.pk }}">{{ member.pk }}</a></td>
				{% endif %}
                <td>{% if member.gender %}{{ member.gender }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.age_years %}{{ member.age_years|floatformat:"0" }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.message_count %}{{ member.message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.received_message_count %}{{ member.received_message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.date_joined %}{{ member.date_joined|date:"D M d H:i" }}{% else %}<span class="na">n/a</span>{% endif %}</td>
			</tr>{% endfor %}
            <tr>
                {% if user.is_staff %}
	                <td colspan="9">
	            {% else %}
    	            <td colspan="6">
				{% endif %}
	                    <a href="/village/{{village.id}}/member/add" class="add">
	                        {% trans "Add a Member" %}
	                    </a>
                </td>
            </tr>
			{% else %}
			<tr class="no-data">
                {% if user.is_staff %}
	                <td colspan="9">
	            {% else %}
    	            <td colspan="6">
				{% endif %}
					{% trans "No members yet" %}
					<a href="/village/{{village.id}}/member/add" class="add">
						{% trans "Add a Member" %}
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
                {% if user.is_staff %}
	                <td colspan="9">
	            {% else %}
    	            <td colspan="6">
				{% endif %}
					{% paginator members %}
				</td>
			</tr>
		</tfoot>
	</table>
	   	<div class="toolbar">
		   	<a href="/village/{{ village.id }}/history" class="history">{% trans "View History" %}</a>
    		{% if user.is_staff %}
		   		<a href="/village/edit/{{ village.id }}" class="add">{% trans "Edit Village" %}</a>
			{% endif %}
		</div>
</div>
{% include 'smsforum/partials/messages.html' %}
{% endblock %}

