{% extends "layout.html" %}
{% load i18n %}
{% load pagination %}
{% block title %}{% trans "Members of" %}{{ village.name }}{% endblock %}

{% block content %}

<div class="module">
	<h2>{% trans "Members of " %}{{ village.name }}</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">{% trans "Given Name" %}</th>
				<th scope="col">{% trans "Family Name" %}</th>
                <th scope="col">{% trans "Phone Number" %}</th>
				<th scope="col">{% trans "Gender" %}</th>
                <th scope="col">{% trans "Age" %}</th>
                <!-- TODO: fix this
                <th scope="col">{% trans "Messages Sent This Week" %}</th>
                 -->
			</tr>
		</thead>
		<tbody>{% if members.object_list %}{% for member in members.object_list %}
			<tr>
                <td><a href="/member/{{ member.pk }}"{% if member.given_name %}>{{ member.given_name }}{% else %} class="unknown">Unknown{% endif %}</a></td>
				<td>{% if member.family_name %}{{ member.family_name }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.phone_number %}{{ member.phone_number }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.gender %}{{ member.gender }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if member.age %}{{ member.age }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <!--  TODO: fix this
                <td>{% if member.message_count %}{{ member.message_count }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                 -->
			</tr>{% endfor %}
            <tr>
                <td colspan="3">
                    <a href="/village/{{village.id}}/member/add" class="add">
                        {% trans "Add a Member" %}
                    </a>
                </td>
            </tr>
			{% else %}
			<tr class="no-data">
				<td colspan="3">
					{% trans "No members yet" %}
					<a href="/village/{{village.id}}/member/add" class="add">
						{% trans "Add a Member" %}
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					{% paginator members %}
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="toolbar">
		<a href="/village/edit/{{ village.id }}" class="add">{% trans "Edit Village" %}</a>
	</div>
</div>
{% include 'smsforum/partials/messages.html' %}
{% endblock %}

