{% extends "layout.html" %}
{% load i18n %}
{% block title %}SMS Command Reference{% endblock %}
{% block content %}

<div class="module">

<table width="100%"> 
    <tbody>
    <tr>
        <td colspan="2">
			<h2>English Commands</h2>  
        </td>
    </tr><tr>
        <td>join</td><td></td>
    </tr><tr>
        <td>name</td><td></td>
    </tr><tr>
        <td>leave</td><td></td>
    </tr><tr>
        <td>language</td><td></td>
    </tr><tr>
        <td>help</td><td></td>
    </tr><tr>
        <td>create</td><td></td>
    </tr><tr>
        <td>member</td><td></td>
    </tr><tr>
        <td>citizens</td><td></td>
    </tr><tr>
        <td>remove</td><td></td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>French Commands</h2>  
        </td>
    </tr><tr>
        <td>.entrer</td><td></td>
    </tr><tr>
        <td>.nom</td><td></td>
    </tr><tr>
        <td>.quitter</td><td></td>
    </tr><tr>
        <td>.aide</td><td></td>
    </tr><tr>
        <td>.creer</td><td></td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>Dyuola Commands</h2>  
        </td>
    </tr><tr>
        <td>.unoken</td><td>join </td>
    </tr><tr>
        <td>.karees</td><td>name</td>
    </tr><tr>
        <td>.upus</td><td>leave</td>
    </tr><tr>
        <td>.rambenom</td><td>help</td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>Wolof Commands</h2>  
        </td>
    </tr><tr>
        <td>.duggu</td><td>join</td>
    </tr><tr>
        <td>.genn</td><td>name</td>
    </tr><tr>
        <td>.tur</td><td>leave</td>
    </tr><tr>
        <td>.ndimbal</td><td>help</td>
    </tr>
    <tr>
        <td colspan="2">
			<h2>Pulaar Commands</h2>  
        </td>
    </tr><tr>
        <td>.naalde</td><td>join</td>
    </tr><tr>
        <td>.yettoode</td><td>name</td>
    </tr><tr>
        <td>.yaltude</td><td>leave</td>
    </tr><tr>
        <td>.dallal</td><td>help</td>
    </tr>
    </tbody>
</table>
<p></p>
</div>
{% endblock %}
