{% load i18n %}
{% load pagination %}
{% if cmd_messages or blast_messages %}
<p/>

{% if blast_messages %}
<div class="module">
    <h2>{% trans "Content Messages" %}</h2>
    <form action="" method="POST">
    <table>
        <thead>
            <tr>
                <th scope="col">{% trans "Date" %}</th>
                <th scope="col">{% trans "Message" %}</th>
                {% if user.is_staff %}
	                <th scope="col">{% trans "Phone Number" %}</th>
                {% endif %}
                <th scope="col">{% trans "Community" %}</th>
                <th scope="col">{% trans "Annotation" %}</th>
                <th scope="col">{% trans "Flag" %}</th>
                <th scope="col">{% trans "Code" %}</th>
            </tr>
        </thead>
        <tbody>{% if blast_messages.object_list %}{% for message in blast_messages.object_list %}
            <tr>
                <td>{% if message.received %}{{ message.received|date:"D M d H:i" }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if message.text %}{{ message.text }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                {% if user.is_staff %}
	                <td>{% if message.identity %}{{ message.identity }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                {% endif %}
                <td>{% if message.domain.village %}{{ message.domain.village }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>
                    <input type="hidden" name="message" value="{{message.id}}"/>
                    <input type="text" name="text_{{message.id}}" value="{% if message.note %}{{ message.note }}{% else %}{% endif %}" maxlength="255" />
                </td>
                <td>
                    <input type="checkbox" name="flagged_{{message.id}}" 
                    {% if message.flagged %}checked{% endif %} />
                </td>
                <td>
                    <select name="code_{{message.id}}" value="{{ code }}" >
                      {% if message.code %}
                          <option value='' select="selected">{{ code.slug }}                             
                      {% else %}
                          <option value=''>{{ code.name }}                             
                      {% endif %}
                      {% for code in codes %}
                          {% ifnotequal message.code.id code.id %}
                              <option value={{ code.id }}>{{ code.slug }}                           
                          {% else %}
                              <option value={{ code.id }} selected="selected">{{ code.slug }}                             
                          {% endifnotequal %}
                      {% endfor %}
                    </select>
                </td>
            </tr>{% endfor %}{% else %}
            <tr class="no-data">
                <td colspan="5">
                    {% trans "No messages yet" %}
                </td>
            </tr>{% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    {% paginator blast_messages %}
                </td>
                <td colspan="3"><span class="right">
                    <input type="submit" value="Save Annotations" />
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
    </form>
</div>
{% endif %}

{% if cmd_messages %}
<div class="module">
    <h2>{% trans "Control Messages" %}</h2>
    <form action="" method="POST">
    <table>
        <thead>
            <tr>
                <th scope="col">{% trans "Date" %}</th>
                <th scope="col">{% trans "Message" %}</th>
                {% if user.is_staff %}
	                <th scope="col">{% trans "Phone Number" %}</th>
                {% endif %}
                <th scope="col">{% trans "Community" %}</th>
            </tr>
        </thead>
        <tbody>{% if cmd_messages.object_list %}{% for message in cmd_messages.object_list %}
            <tr>
                <td>{% if message.received %}{{ message.received }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                <td>{% if message.text %}{{ message.text }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                {% if user.is_staff %}
	                <td>{% if message.identity %}{{ message.identity }}{% else %}<span class="na">n/a</span>{% endif %}</td>
                {% endif %}
                <td>{% if message.domain.village %}{{ message.domain.village }}{% else %}<span class="na">n/a</span>{% endif %}</td>
            </tr>{% endfor %}{% else %}
            <tr class="no-data">
                <td colspan="2">
                    {% trans "No messages yet" %}
                </td>
            </tr>{% endif %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    {% paginator cmd_messages %}
                </td>
            </tr>
        </tfoot>
    </table>
    </form>
</div>


{% endif %}
<div class="clear-hack"></div>
{% endif %}
