{% extends base_template %}
	
{% block title %} Report Summary {% endblock %}

{% block page_stylesheets %}	
<link rel="stylesheet" href="/static/bednets/jquery-treeview/jquery.treeview.css" />
<link rel="stylesheet" href="/static/bednets/stylesheets/reports.css" />
{% endblock %}

{% load bednets-tags %}

{% block content %}

<div class="tmp">

<div class="split-3">
	<div class="left">
            {% recent_reporters %}
	</div>
	<div class="mid">
            {% daily_progress %}
	</div>
	<div class="right">
            {% bednets_stats %}
	</div>
	<div class="clear-hack"></div>
</div>
</div>
{% endblock %} 
