{% extends "infsss/base.html" %}
{% load pagination %}
{% block title %}Malawi Health INFSSS{% endblock %}

{% block left %}

<h3>RapidSMS Enabled Locations</h3>
{% for l in test.object_list %}
    <a href="region/{{l}}">{{ l  }}</a> 
{% endfor %} 
<p></p>
{% paginator test %}


<table>
{% if rapidsms_locations %}
<h3>RapidSMS Enabled Locations</h3>
{% for l in rapidsms_locations.object_list %}
    <a href="region/{{l.id}}">{{ l.name  }}</a> 
{% endfor %} 
{% paginator rapidsms_locations %}
<p></p>
{% endif %}
{% if other_locations %}
<h3>Locations</h3>
{% for l in other_locations.object_list %}
    <a href="region/{{l.id}}">{{ l.name  }}</a> <br>
{% endfor %} 
{% paginator other_locations %}

{% endif %}
</table>
{% endblock %}
{#which i could inherit#}
{% block right %}
<table>
        <tr> 
        {% for h in header %}
        <th><b> {{ h }}</b> </th>
        {% endfor %}
        </tr>
		{% for datum in data %}
            <tr>
                {% for d in datum %} 
                <td>{{ d }}</td>
                {% endfor %}
                {% if link %}
                    <td><a href={{ datum }}>-></a></td>
                {% endif %}
             </tr>
        {% endfor %}
</table>
{% endblock %}


